apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _operator_name }}-operator"
  namespace: "{{ _operator_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: "{{ _operator_name }}-operator"
  template:
    metadata:
      labels:
        name: "{{ _operator_name }}-operator"
    spec:
      serviceAccountName: "{{ _operator_name }}-operator"
      containers:
        - name: "{{ _operator_name }}-operator"
          image: "{{ _operator_image }}"
          ports:
          - containerPort: 60000
            name: metrics
          imagePullPolicy: IfNotPresent
          env:
            - name: WATCH_NAMESPACE
{% if _operator_kind|d("namespaced") == "namespaced" %}
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
{% else %}
              value: ""
{% endif %}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "{{ _operator_name }}-operator"
